<% include partials/header %>

<div class='ui main text container segment'>
   <div class='ui huge header'>EDIT <%= e.title %> </div>

   <form class='ui form' action="/blogs/<%= e._id %>?_method=PUT" method='POST'>
      <div class='field'>
         <label for="blog[title]">Title</label>
         <input id="title" type="text" name='blog[title]' value="<%= e.title %>">
      </div>
      <div class='field'>
         <label for="blog[image]">Image</label>
         <input type="text" name='blog[image]' value="<%= e.image %>">
      </div>
      <div class='field'>
         <label for="blog[body]">Blog</label>
         <textarea name="blog[body]" cols="30" rows="10"> <%= e.body %> </textarea>
      </div>
      <button class='ui violet basic button big'>Submit</button>
   </form>

</div>

<% include partials/footer %>